@import '../../../shared-styles/objects.text';

$sectionSpacer: 20px;

.buv-c-sed-endorsement {
  box-shadow: 0 1px 5px rgba(0, 0, 0, .15);
  padding: $sectionSpacer;
  background-color: #fff;
  display: block;
  font-family: sans-serif;
  text-align: center;
  color: black;
  font-size: 12px;
  line-height: 1.5;
  overflow: auto;
  word-wrap: break-word;
  clear: both;
}

// No direct access available
.buv-c-sed-endorsement section {
  max-width: 100%;
  padding: 0;
}

// No direct access available
.buv-c-sed-endorsement img {
  max-width: 100%;
  height: auto;
  width: inherit;
}

@media only screen and (min-width: 640px) {
  .buv-c-sed-endorsement {
    min-height: 550px;
    padding: calc(#{$sectionSpacer} * 2) calc(#{$sectionSpacer} * 4);
    font-size: 16px;
  }
}

.buv-c-sed-endorsement table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2em;
}

.buv-c-sed-endorsement table tr td:first-child,
.buv-c-sed-endorsement table tr th:first-child {
  vertical-align: bottom;
  text-align: left;
}

.buv-c-sed-endorsement table thead {
  border-bottom: solid 3px #787852;
  font-size: 1.25em;
}

tbody:before {
  content: "-";
  display: block;
  line-height: 1em;
  color: transparent;
}

.buv-c-sed-endorsement .lang-ca {
  color: #787852;
}

.buv-c-sed-endorsement .lang-en {
  color: #1D14FF;
}
